Repository myamo333/markdown_req: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, textlint, cspell, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: "^(01|02)_markdown_quality_assurance_.*\\.md$|README\\.md|CHECK_REPORT\\.md|sample_requirement\\.md"
      - id: end-of-file-fixer
        exclude: "^(01|02)_markdown_quality_assurance_.*\\.md$|README\\.md|CHECK_REPORT\\.md|sample_requirement\\.md"

  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx markdownlint-cli
        language: node
        files: "\\.md$"
        exclude: "^(01|02)_markdown_quality_assurance_.*\\.md$|README\\.md|CHECK_REPORT\\.md|sample_requirement\\.md"
        pass_filenames: true
      - id: textlint
        name: textlint
        entry: npx textlint
        language: node
        files: "\\.md$"
        exclude: "^(01|02)_markdown_quality_assurance_.*\\.md$|README\\.md|CHECK_REPORT\\.md|sample_requirement\\.md"
        pass_filenames: true
      - id: cspell
        name: cspell
        entry: npx cspell
        language: node
        files: "\\.md$"
        exclude: "^(01|02)_markdown_quality_assurance_.*\\.md$"
        pass_filenames: true
      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: node
        files: "\\.md$"
        exclude: "^(01|02)_markdown_quality_assurance_.*\\.md$"
        pass_filenames: true

docs: sync markdown guardrail instructions
  .cspell.json
  .markdownlintignore
  .pre-commit-config.yaml
  .textlintignore
  AGENTS.md
  CHECK_REPORT.md
  README.md
  sample_requirement.md
Due: markdownlint, textlint, cspell, prettier

chore: honor markdown guardrails
  .pre-commit-config.yaml
  AGENTS.md
  sample_requirement.md
Due: markdownlint, textlint, cspell, prettier

refactor: reorganize markdown workflow
  .markdownlintignore
  .pre-commit-config.yaml
  .textlintignore
  .vscode/settings.json
  README.md
  config/lint/.cspell.json
  config/lint/.markdownlint.jsonc
  config/lint/.markdownlintignore
  config/lint/.prettierrc
  config/lint/.textlintignore
  config/lint/.textlintrc
  config/lint/prh.yml
  docs/01_markdown_quality_assurance_combined.md
  docs/02_markdown_quality_assurance_formatted_guide.md
  docs/AGENTS.md
  docs/CHECK_REPORT.md
  package.json
  requirements/sample_requirement.md
Due: markdownlint, textlint, cspell, prettier

feat: add autonomous driving requirements
  README.md
  config/lint/.cspell.json
  config/lint/.markdownlintignore
  config/lint/.textlintignore
  requirements/sample_requirement.md
  soft_requirements/autonomous_software_requirements.md
Due: markdownlint, textlint, cspell, prettier

chore: split lint rules per requirements folder
  .pre-commit-config.yaml
  README.md
  docs/AGENTS.md
  package.json
  requirements/.markdownlint.jsonc
  requirements/.textlintrc
  soft_requirements/.markdownlint.jsonc
  soft_requirements/.textlintrc
  soft_requirements/autonomous_software_requirements.md
Due: markdownlint, textlint, cspell, prettier

chore: enforce blank lines around code blocks
  config/lint/.markdownlint.jsonc
Due: none

update AGENTS
  .vscode/settings.json
  docs/AGENTS.md
Due: markdownlint, textlint, cspell, prettier

update markdownlints
  .vscode/settings.json
  config/lint/.markdownlint.jsonc
Due: none

update AGENTS
  docs/AGENTS.md
Due: markdownlint, textlint, cspell, prettier

update lint_check
  .github/workflows/lint-check.yml
Due: none

update lint_check (#1)
  .github/workflows/lint-check.yml
Due: none

update textlint
  requirements/.textlintrc
  soft_requirements/.textlintrc
Due: none

update README
  README.md
Due: cspell, prettier
